# Core Inference Libraries
torch==2.2.2
torchvision==0.17.2
--find-links https://download.pytorch.org/whl/cpu
pillow

# API & Serving
fastapi==0.110.0
uvicorn[standard]==0.27.1

# Model Tracking
mlflow[pyfunc]==3.1.1